* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121212;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-decoration: none;
    padding-left: 30px;
    height: 50px;

    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

header a .logo-img {
    height: 40px;
    margin-right: 15px;
}

header .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .info a {
    color: #FFF;
    padding-right: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
}

header .info a:hover {
    color: #888888;
}

header .info-mini {
    display: none;
    position: relative;
    padding-right: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: 300;
    font-size: 21px;
    text-decoration: none;
    text-transform: uppercase;
}

header .info-mini .menu {
    color: #FFF;
    padding: 20px 25px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    /* background: red; */
}

header .info-mini .menu:hover {
    color: #888888;
    background: #0e0e0e;
    border-radius: 10px;
}

header .info-mini .submenu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    right: -50px;
    border: none;
    margin: 19px 25px;
    /* background: rebeccapurple; */
}

header .info-mini .submenu a:hover {
    color: #888888;
    background: #0e0e0e;
    border-radius: 10px;
}

header .info-mini .submenu a {
    color: #FFF;
    text-decoration: none;
    padding: 20px 20px;
    width: 200px;
    border: none;
}


@media screen and (max-width: 740px) {
   header .info {
        display: none;
    }

    header .info-mini {
        display: block;
        padding-right: 15px;
    }

    header .info-mini .submenu {
        display: none;
    }

    header .info-mini:hover .submenu {
        display: flex;
        
    }
}

@media screen and (max-width: 500px) {
    header .logo {
        font-size: 15px;
    }
}

@media screen and (max-width: 350px) {
    header .logo .logo-text {
        display: none;
    }
}
